extends layout

block content   
    form(method="post" action="/profiles").formProfile
        h1= finResult
        input(class="buttonProfiles" type="submit" value="Далее")  

        h3="Наиболее подходящее для вас направление"
        h2 Компьютерная безопасность - 0.51
        p Прикладная информатика - 0.28
        p Программная инженерия - 0.21
        input(class="buttonProfiles" type="submit" value="Далее")  