extends layout

block content
    ul
        li 
            a(href="/personaldata") Личная информация  
        li
            a(href="/passportdata") Паспортные данные
        li
            a(href="/contactsdata") Контакты