extends layout

block content
    .allusercontent
        .sidebar
            a(href="/loggout") Анкета
            a(href="/loggout") Загрузка документов
            a(href="/setPoints") Установить проходные баллы
            a(href="/conclists") Конкурсные списки
        .maininfo
            block mainblock    